.new-game{
    display:block;
    padding:10px;
    margin:0 auto;
}
.success,.failure{
    width:100px;
    height:100px;
    background-repeat:no-repeat;
   
    float:right;
}
.failure{
    background-image: url(/assets/failure.png);
}
.success{
    background-image: url(/assets/success.png);
}


h3{
    text-align: center;
}

.choose-list{
    height: 250px;
    width: 180px;
    overflow-y: auto;
    padding-left: 10px;
}
.choose-list button{
    width:150px;
    padding: 8px 27px 8px 27px;
}
p{
    text-align: center;
}
input[type='number']{
    width: 130px;
    height: 12px;
}
.select-num{
    margin:0 auto;
    display:block;
}